[project]
	description = Automatically exported from code.google.com/p/fitnesse-launcher-maven-plugin
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SahilWadhwa
[access "refs/for/refs/*"]
	read = group user/SahilWadhwa
	push = group user/SahilWadhwa
	label-Code-Review = -2..+2 group user/SahilWadhwa
	label-Verified = -1..+1 group user/SahilWadhwa
	rebase = group user/SahilWadhwa
	removeReviewer = group user/SahilWadhwa
	submit = group user/SahilWadhwa
[access "refs/heads/*"]
	read = group user/SahilWadhwa
	create = group user/SahilWadhwa
	push = +force group user/SahilWadhwa
	pushMerge = group user/SahilWadhwa
[access "refs/tags/*"]
	push = +force group user/SahilWadhwa
	pushTag = group user/SahilWadhwa
	pushSignedTag = group user/SahilWadhwa
